<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music App</title>
  <link rel="stylesheet" href="/music-app/src/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="profile">
  <header class="header">
    <div class="desktop">
      <div class="container">
        <a href="/music-app/index.html">
          <img class="white-circle-arrow" src="/music-app/src/assets/img/icon-back-purple.svg"
            alt="purple arrow with white circle icon">
        </a>
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-6 col-md-5 col-sm-6 center">
            <img class="img" src="/music-app/src/assets/img/pic-profile.jpeg"
              alt="a girl listening music and a white cat">
          </div>
          <div class="col-xl-7 col-lg-6 col-md-7 col-sm-6">
            <div class="content">
              <h1 class="title">Shinnmar's profile</h1>
              <a class="follow-link" href="#">
                <p class="heading-subtitle">Follow</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section class="playlist">
      <div class="container">
        <div class="header-desktop">
          <article class="controls">
            <div class="left">
              <h2 class="subtitle">Favorite's song</h2>
            </div>
            <div class="icons">
              <div class="play" id="playIcon"></div>
              <div class="btn-follow" id="followBtn"></div>
              <div class="shuffle-white" id="shuffleIcon">
              </div>
          </article>
        </div>

        <article class="song-card">
          <div class="song">
            <div class="thumb">
              <img class="thumb-img" src="/music-app/src/assets/img/thumb-yeoowoya.jpeg" alt="Yeoowoya thumb">
            </div>
            <div class="song info">
              <p class="song name">Yeoowoya</p>
              <p class="artist">JOY</p>
            </div>
          </div>
          <div class="icons">
            <div class="liked-icon" id="likeSong"></div>
            <img class="dots-icon" src="/music-app/src/assets/img/icon-dots-menu.svg" alt="3 dots icon song menu">
          </div>
        </article>

        <article class="song-card">
          <div class="song">
            <div class="thumb">
              <img class="thumb-img" src="/music-app/src/assets/img/thumb-some.jpeg" alt="Some thumb">
            </div>
            <div class="song info">
              <p class="song name">Some (feat. Lil Boi)</p>
              <p class="artist">SOYOU, Junggigo, IIIBOI</p>
            </div>
          </div>
          <div class="icons">
            <div class="liked-icon" id="likeSong"></div>
            <img class="dots-icon" src="/music-app/src/assets/img/icon-dots-menu.svg" alt="3 dots icon song menu">
          </div>
        </article>

        <article class="song-card">
          <div class="song">
            <div class="thumb">
              <img class="thumb-img" src="/music-app/src/assets/img/thumb-recently.jpeg" alt="Recently thumb">
            </div>
            <div class="song info">
              <p class="song name">Recently</p>
              <p class="artist">KIM YO HAN</p>
            </div>
          </div>
          <div class="icons">
            <div class="liked-icon" id="likeSong"></div>
            <img class="dots-icon" src="/music-app/src/assets/img/icon-dots-menu.svg" alt="3 dots icon song menu">
          </div>
        </article>

        <article class="song-card">
          <div class="song">
            <div class="thumb">
              <img class="thumb-img" src="/music-app/src/assets/img/thumb-loveable.jpeg" alt="Loveable thumb">
            </div>
            <div class="song info">
              <p class="song name">사랑스러워</p>
              <p class="artist">Kim Jong Kook</p>
            </div>
          </div>
          <div class="icons">
            <div class="liked-icon" id="likeSong"></div>
            <img class="dots-icon" src="/music-app/src/assets/img/icon-dots-menu.svg" alt="3 dots icon song menu">
          </div>
        </article>

        <article class="song-card">
          <div class="song">
            <div class="thumb">
              <img class="thumb-img" src="/music-app/src/assets/img/thumb-dynamite.jpeg" alt="Dynamite thumb">
            </div>
            <div class="song info">
              <p class="song name">Dynamite</p>
              <p class="artist">BTS</p>
            </div>
          </div>
          <div class="icons">
            <div class="liked-icon" id="likeSong"></div>
            <img class="dots-icon" src="/music-app/src/assets/img/icon-dots-menu.svg" alt="3 dots icon song menu">
          </div>
        </article>
      </div>
    </section>
  </main>

</body>

</html>