* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

.follow-link, .profile-link {
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.profile-link {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  color: #ffffff;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 9.9%,
      rgba(0, 0, 0, 0.16) 25.52%,
      rgba(0, 0, 0, 0.27) 46.35%,
      rgba(0, 0, 0, 0.34) 67.19%,
      rgba(0, 0, 0, 0.45) 85.94%,
      rgba(0, 0, 0, 0.5) 97.4%
    ),
    rgba(94, 13, 199, 0.66);

  @media screen and (max-width: 1199px) {
    min-height: 340px;
  }

  @media screen and (max-width: 991px) {
    min-height: auto;
    padding: 2rem 0;
  }

  @media screen and (max-width: 576px) {
    padding: 0;
  }

  .mobile {
    position: relative;
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
      width: 100%;
    }

    .mob-img {
      width: 100%;
    }

    .purple-circle-arrow {
      position: absolute;
      top: 0;
      left: 0;
      padding: 19px 0 0 18px;
    }
  }

  .desktop {
    position: relative;
    width: 100%;
    @media screen and (max-width: 576px) {
      display: none;
    }

    .img {
      height: auto;

      @media screen and (max-width: 1199px) {
        width: 70%;
      }

      @media screen and (max-width: 991px) {
        display: flex;
        align-items: flex-end;
      }

      @media screen and (max-width: 765px) {
        width: 80%;
      }

      @media screen and (max-width: 576px) {
        height: auto;
      }
    }

    .white-circle-arrow {
      position: absolute;
      padding: 0 0 0 46px;
      top: 0;
      left: 0;
      @media screen and (max-width: 991px) {
        padding: 0 0 0 26px;
      }
      @media screen and (max-width: 765px) {
        padding: 0 0 0 18px;
      }
    }
  }

  .title {
    margin: 0;
  }
}

.profile {
  .header {
    .img {
      width: 50%;
      height: 100%;
      border-radius: 40px;
    }
  }
}
