* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

.follow-link,
.profile-link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.profile-link {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4.8rem;
  line-height: 5.8rem;
  @media screen and (max-width: 992px) {
    font-size: 3.8rem;
    line-height: 4.8rem;
  }
}

.subtitle {
  font-size: 3.2rem;
  line-height: 3.9rem;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0 0 0 0 !important;
  }
}

.text {
  font-size: 2rem;
  line-height: 2.4rem;
  @media screen and (max-width: 992px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.second-text {
  font-size: 1.8rem;
  @media screen and (max-width: 992px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/* Components */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 9.9%,
      rgba(0, 0, 0, 0.16) 25.52%,
      rgba(0, 0, 0, 0.27) 46.35%,
      rgba(0, 0, 0, 0.34) 67.19%,
      rgba(0, 0, 0, 0.45) 85.94%,
      rgba(0, 0, 0, 0.5) 97.4%
    ),
    rgba(94, 13, 199, 0.66);

  @media screen and (max-width: 1200px) {
    min-height: 340px;
  }

  @media screen and (max-width: 992px) {
    min-height: auto;
    padding: 2rem 0;
  }

  @media screen and (max-width: 576px) {
    padding: 0;
  }

  .mobile {
    position: relative;
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
      width: 100%;
    }

    .mob-img {
      width: 100%;
    }

    .purple-circle-arrow {
      position: absolute;
      top: 0;
      left: 0;
      padding: 19px 0 0 18px;
    }
  }

  .desktop {
    position: relative;
    width: 100%;
    @media screen and (max-width: 576px) {
      display: none;
    }

    .img {
      height: auto;

      @media screen and (max-width: 1200px) {
        width: 70%;
      }

      @media screen and (max-width: 992px) {
        display: flex;
        align-items: flex-end;
      }

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      @media screen and (max-width: 576px) {
        height: auto;
      }
    }

    .white-circle-arrow {
      position: absolute;
      padding: 0 0 0 46px;
      top: 0;
      left: 0;
      @media screen and (max-width: 992px) {
        padding: 0 0 0 26px;
        width: 60px;
      }
      @media screen and (max-width: 768px) {
        padding: 0 0 0 18px;
        width: 50px;
      }
    }
  }
}

.playlist {
  padding: 3rem 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(38, 23, 59, 1) 0%,
    rgba(0, 0, 0, 1) 69%
  );

  @media screen and (max-width: 1440px) {
    padding: 3rem 6rem 3rem 4.6rem;
  }
  @media screen and (max-width: 768px) {
    padding: 3rem 0;
  }
  @media screen and (max-width: 576px) {
    padding: 3rem 0rem 3rem 2rem;
  }

  .subtitle {
    margin: 0 0 3rem 0;
    @media screen and (max-width: 576px) {
      font-size: 1.6rem;
      margin: 0 0 1.5rem 0;
    }
  }

  .header-desktop {
    @media screen and (max-width: 576px) {
      display: none;
    }

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 1rem 0;

      .left {
        width: 50%;
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
          width: 30%;
        }
      }

      .icons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: 992px) {
          justify-content: space-between;
        }
        @media screen and (max-width: 768px) {
          justify-content: flex-end;
          width: 70%;
        }

        .play {
          background-image: url("../assets/img/icon-play.svg");
        }

        .pause-icon {
          background-image: url("../assets/img/icon-pause.svg");
        }

        .play,
        .pause {
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 80px;
        }

        .btn-follow {
          @media screen and (max-width: 768px) {
            width: 119px;
          }
        }
        .btn-following {
          @media screen and (max-width: 768px) {
            width: 130px;
          }
        }

        .play,
        .btn-follow {
          margin: 0 3.8rem 0 0;
          @media screen and (max-width: 991px) {
            margin: 0 2rem 0 0;
          }
        }

        .shuffle-white {
          background-image: url("../assets/img/icon-shuffle.svg");
          background-repeat: no-repeat;
          width: 45px;
          height: 45px;
        }

        .shuffle-active {
          background-image: url("../assets/img/icon-shuffle-active.svg");
          background-repeat: no-repeat;
          width: 45px;
          height: 45px;
        }
      }
    }
  }

  .header-mobile {
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
    }

    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .icons {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .shuffle-white-mob {
          cursor: pointer;
          display: block;
          background-image: url("../assets/img/icon-shuffle.svg");
          background-repeat: no-repeat;
          width: 40px;
          height: 40px;
        }

        .shuffle-active {
          background-image: url("../assets/img/icon-shuffle-active.svg");
          background-repeat: no-repeat;
        }

        .play {
          background-image: url("../assets/img/icon-play.svg");
        }

        .pause-icon {
          background-image: url("../assets/img/icon-pause.svg");
        }

        .play,
        .pause {
          background-repeat: no-repeat;
          background-position: center;
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  .btn-follow {
    background-image: url("../assets/img/btn-follow.svg");
    background-repeat: no-repeat;
    width: 119px;
    height: 51px;
  }

  .btn-following {
    background-image: url("../assets/img/btn-following.svg");
    background-repeat: no-repeat;
    width: 130px;
    height: 51px;
  }

  .shuffle-white,
  .play,
  .btn-follow,
  .song-card {
    cursor: pointer;
  }

  .song-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1.6rem 0;
    @media screen and (max-width: 576px) {
      margin: 0 0 2.6rem 0;
    }

    .icons {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media screen and (max-width: 992px) {
        padding: 0;
      }
      @media screen and (max-width: 576px) {
        justify-content: space-around;
        margin: 0 1.2rem 0 0;
      }

      .dots-icon {
        cursor: pointer;
        width: auto;
        height: 30px;
      }
    }

    .song {
      width: 70%;
      display: flex;
      flex-direction: row;

      .thumb {
        display: flex;
        align-items: center;
        .thumb-img {
          width: 100px;
          height: 100px;
          @media screen and (max-width: 576px) {
            width: 60px;
            height: 60px;
            margin: 0 2.3rem 0 0;
          }
        }
      }

      &.info {
        margin: 0 0 0 2.3rem;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 576px) {
          margin: 0;
        }
      }

      &.name {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin: 0;

        @media screen and (max-width: 992px) {
          font-size: 1.6rem;
        }
      }

      .artist {
        color: #b3b3b3;
        font-size: 2rem;
        font-weight: 400;
        @media screen and (max-width: 992px) {
          font-size: 1.3rem;
          line-height: 1.8rem;
        }
      }
    }

    .liked-icon {
      background-image: url("../assets/img/icon-like.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 38px;
      height: 38px;
      margin: 0 10rem 0 0;
      @media screen and (max-width: 576px) {
        width: 29px;
        height: 29px;
        margin: 0;
      }
    }

    .liked-song {
      background-image: url("../assets/img/icon-liked-purple.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 38px;
      height: 38px;
      margin: 0 10rem 0 0;

      @media screen and (max-width: 576px) {
        width: 29px;
        height: 29px;
        margin: 0;
      }
    }
  }
}

.pulse {
  transition-duration: 1.1s;
  background-position: -2800px 0;
}

/* View */
.profile {
  .header {
    @media screen and (max-width: 576px) {
      padding: 1rem;
    }

    .img {
      width: 50%;
      height: 100%;
      border-radius: 50%;
      @media screen and (max-width: 992px) {
        width: 60%;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: 1.8rem;
        width: 70%;
      }
    }

    .title {
      @media screen and (max-width: 576px) {
        font-size: 2.5rem;
      }
    }

    .heading-subtitle {
      font-size: 2rem;
      @media screen and (max-width: 576px) {
        font-size: 1.6rem;
      }
    }

    .desktop {
      display: block;
      @media screen and (max-width: 576px) {
        padding: 3rem 2rem;
      }
    }
  }
}
