* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

.follow-link,
.profile-link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.profile-link {
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4.8rem;
  line-height: 5.8rem;
  @media screen and (max-width: 991px) {
    font-size: 3.8rem;
    line-height: 4.8rem;
  }
}

.subtitle {
  font-size: 3.2rem;
  line-height: 3.9rem;
}

.text {
  font-size: 2rem;
  line-height: 2.4rem;
  @media screen and (max-width: 991px) {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.second-text {
  font-size: 1.8rem;
  @media screen and (max-width: 991px) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

/* Components */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 9.9%,
      rgba(0, 0, 0, 0.16) 25.52%,
      rgba(0, 0, 0, 0.27) 46.35%,
      rgba(0, 0, 0, 0.34) 67.19%,
      rgba(0, 0, 0, 0.45) 85.94%,
      rgba(0, 0, 0, 0.5) 97.4%
    ),
    rgba(94, 13, 199, 0.66);

  @media screen and (max-width: 1199px) {
    min-height: 340px;
  }

  @media screen and (max-width: 991px) {
    min-height: auto;
    padding: 2rem 0;
  }

  @media screen and (max-width: 576px) {
    padding: 0;
  }

  .mobile {
    position: relative;
    display: none;
    @media screen and (max-width: 576px) {
      display: block;
      width: 100%;
    }

    .mob-img {
      width: 100%;
    }

    .purple-circle-arrow {
      position: absolute;
      top: 0;
      left: 0;
      padding: 19px 0 0 18px;
    }
  }

  .desktop {
    position: relative;
    width: 100%;
    @media screen and (max-width: 576px) {
      display: none;
    }

    .img {
      height: auto;

      @media screen and (max-width: 1199px) {
        width: 70%;
      }

      @media screen and (max-width: 991px) {
        display: flex;
        align-items: flex-end;
      }

      @media screen and (max-width: 765px) {
        width: 80%;
      }

      @media screen and (max-width: 576px) {
        height: auto;
      }
    }

    .white-circle-arrow {
      position: absolute;
      padding: 0 0 0 46px;
      top: 0;
      left: 0;
      @media screen and (max-width: 991px) {
        padding: 0 0 0 26px;
      }
      @media screen and (max-width: 765px) {
        padding: 0 0 0 18px;
      }
    }
  }
}

.music-list {
  padding: 3rem 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(38, 23, 59, 1) 0%,
    rgba(0, 0, 0, 1) 69%
  );

  .subtitle {
    margin: 0 0 3rem 0;
    @media screen and (max-width: 576px) {
      font-size: 1.6rem;
      margin: 0 0 1.5rem 0;
    }
  }

  .song-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1.6rem 0;
    @media screen and (max-width: 576px) {
      margin: 0 0 2.6rem 0;
    }

    .song {
      width: 70%;
      display: flex;
      flex-direction: row;

      .thumb {
        display: flex;
        align-items: center;
        .thumb-img {
          width: 100px;
          height: 100px;
          @media screen and (max-width: 576px) {
            width: 60px;
            height: 60px;
            margin: 0 2.3rem 0 0;
          }
        }
      }

      &.info {
        margin: 0 0 0 2.3rem;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 576px) {
          margin: 0;
        }
      }

      &.name {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin: 0;

        @media screen and (max-width: 991px) {
          font-size: 1.6rem;
        }
      }

      .artist {
        color: #b3b3b3;
        font-size: 2rem;
        font-weight: 400;
        @media screen and (max-width: 991px) {
          font-size: 1.3rem;
          line-height: 1.8rem;
        }
      }
    }

    .icons {
      padding: 0 4rem 0 0;
      width: 30%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media screen and (max-width: 576px) {
        padding: 0;
      }

      .liked-icon {
        width: 38px;
        height: 38px;
        @media screen and (max-width: 576px) {
          width: 28px;
          height: 28px;
        }
      }

      .dots-icon {
        width: auto;
        height: 30px;
      }
    }
  }
}

/* View */
.profile {
  .header {
    .img {
      width: 50%;
      height: 100%;
      border-radius: 40px;
    }
  }
}
